body {
  margin: 0;
  padding: 0;
  font-family: "Courier", "Courier New", monospace;
  background: rgb(34,193,195);
background: linear-gradient(93deg, rgba(34,193,195,1) 0%, rgba(245,191,75,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
